{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	Contribute to {{article.title}}
{% endblock title%}


{% block content %}

<div class="col-lg-10 m-auto">
	<div class="card mt-5">
		<div class="card-body">
			<h3>{{article.title}}</h3>
			<form action="{% url 'contribute-to-article' article.slug %}" method="POST">
			    {% csrf_token %}
			    {{form|crispy}}
			    <input type="submit" value="Submit Contribution" class="float-right btn btn-outline-success">
			</form>
		</div>
	</div>
</div>


{% endblock content %}