{% extends "base.html" %}

{% block title %}
	Contributions
{% endblock title%}


{% block content %}

<div class="col-lg-10 m-auto">
	<div class="card mt-5">
		<div class="card-header">
			Contributions
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
				    <tr>
				    	<th scope="col" class="width-15">Status</th>
				      	<th scope="col">Article</th>
				      	<th scope="col" class="text-right"></th>
				    </tr>
				</thead>
				<tbody>
					{% for contribution in request.user.contributions.all %}
					    <tr>
						    <td class="width-15">
						    	{{contribution.status}}
							</td>
						    <td>{{contribution.article}}</td>
						    <td class="text-right">
						      	{{contribution.date}}
					  		</td>
					    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}